$color-white: #FFFFFF;
$color-black: #000000;

$color-black-08: rgba(0, 0, 0, 0.08);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-16: rgba(0, 0, 0, 0.16);
$color-black-20: rgba(0, 0, 0, 0.20);
$color-black-80: rgba(0, 0, 0, 0.8);

$color-primary-1: #2e93cf;
$color-info: #2160c4;
$color-info-light: #eef3fc;


$color-empty-space: #ffffff;
$color-ok-ship-space: #8e8e8e;
$color-hit-ship-space: #f9a03a;
$color-destroyed-ship-space: #ee2d30;
$color-shot-missed-space: #4cbed7;
